
body {
   background-image: linear-gradient(10deg,rgb(22, 8, 59),rgb(23, 2, 32));
   /* background-image: url("img/background.png"); */
   background-size: cover;
   background-repeat: repeat;
   font-weight: 400;
   font-family: Poppins;
   color: rgb(228, 228, 228);
}

.user-icon{
    border-radius: 50%;
    padding-left: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
}
.user-name{
    font-size: 30px;
    font-weight: 200;
}
.work{
    font-size: 19px;
    font-weight: 400;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(45deg,#131414c2,#272a313b);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    padding-left: 2%;
    text-overflow: clip;
}

.description{
    font-size: 11px;
}

.techs{
    padding-top: 10%;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
.python-icon, .info-1{
    display: inline-block;
}
.python-icon{
    margin-right: 1%;
}
.info-1{
    margin-right: 3%;
    font-size: 13px;
    font-weight: 400;
}

.html-icon, .info-2{
    display: inline-block;
}
.html-icon{
    margin-right: 1%;
}
.info-2{
    margin-right: 3%;
    font-size: 12px;
    font-weight: 400;
}

.javascript-icon, .info-3{
    display: inline-block;
}
.javascript-icon{
    margin-right: 1%;
}
.info-3{
    margin-right: 1%;
    font-size: 12px;
    font-weight: 400;
}

.redes-sociais{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding-top: 5%;
}	
.redes-1{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.800);
}
.redes-2{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.800);
}
.redes-3{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.800);
}
